.menu
  // display: none
  visibility: hidden
  opacity: 0
  position: absolute
  top: 100%
  left: 0
  width: 100%
  height: 100vh
  background: rgba(47, 53, 79,  0.9)
  transform: translateY(-50px)
  transition: .3s transform, .3s opacity
  will-change: transform

  ul
    padding: 0
    list-style: none

  li
    border-top: 1px solid var(--grayishBlue)

    &:last-child
      a
        margin-top: 1em
        border: 2px solid white
        border-radius: 5px
        padding: .7em

  a
    color: white
    text-decoration: none
    text-transform: uppercase
    display: block
    text-align: center
    padding: 1em
    letter-spacing: 2px

  &-open
    user-select none
    height: 40px
    width: 40px
    display: inline-flex
    background: url('../images/icon-hamburger.svg') no-repeat center
    cursor: pointer

  &-checkbox
    display: none

    &:checked
      & ~ .header
        background: rgba(47, 53, 79,  0.9)

        & .header-logo
          background-image: url('./../images/logo-bookmark-white.svg') 

        & .menu
          // display: block
          visibility: visible
          opacity: 1
          transform: translateY(0)

          &-open
            background-image: url('../images/icon-close.svg')
